<% if current_user %>
    <div class="jumbotron">
        <h1 class="display-4">Hello, <%= current_user.name %></h1>
        <p class="lead">Welcome to The Federal Polytechnic, Ado-Ekiti Facility Management System.</p>
        <hr class="my-4">
        <p></p>
        <p class="lead">
            Click the button below on visi the admin page
            <a class="btn btn-primary btn-sm" href="http://127.0.0.1:3000/admin" role="button">Go-to Admin Panel</a>
        </p>
    </div>
<% else %>
    <%= link_to "Sign in", new_user_session_path %>
<% end %>